@{
    ViewData["Title"] = "OttoMail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model OttoMail.Models.User

<h2>Emails</h2>
@Html.DisplayFor(model => model.UserName) | @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
<p>@Html.ActionLink("Back to user list", "Index")</p>
